.top-NavBar {
    display: inline-block;
    text-align: center;
}

.bottom-NavBar {
    margin-top: 50px;
    display: inline-block;
    text-align: center;

    transition:
}

.img-center{
    float: left;
}
